#container {
	position: relative;
    width: 100vw;
    height: 100vh;
}

#bg_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#info_container{
	position: relative;
	width: 50%;
	height: 35%;
	margin-left: 25%;
	top: 5%;
	background: #4249F4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.name{
	position: relative;
	text-align: center;
	color: white;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 2.5rem;
}

#contact_container{
	position: relative;
	display: flex;
	justify-content: space-around;
	height: 20%;
	width: 65%;
}

.contact_wrapper{
	position: relative;
	width: 45%;
	height: 50%;
	border: solid;	
	border-radius: 4px;
	border-color: white;
	text-align: center;
	color: white;
	display: flex;
}

.contact_wrapper:hover{
	cursor: pointer;
	background-color: white;
	color: #4249F4;
}

.logo{
	width: 10%;
	margin-left: 10%;
}

.contact_text{
	margin-left: 11%;
	font-weight: 500;
}

#projects_container{
	position: relative;
	top: 10%;
	width: 100%;
	height: 50%;
	display: flex;
	align-items: center;
}

.projects_wrapper_side{
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	width: 16%;
	height: 50%;
	
}

.projects_wrapper_side:nth-child(1){
	position: relative;
	left: 4%;
}

.projects_wrapper_side:nth-child(3){
	position: relative;
	right: 4%;
}

#projects_wrapper_main{
	position: absolute;
	left: 15%;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	width: 70%;
	height: 100%;
	text-align: center;
	animation: fadein .5s;
}

#project_title {
	position: relative;
	top: 5%;
	font-weight: 600;
}
	
#stack_container_main{
	position: relative;
	display: flex;
	justify-content: flex-end;
}

#stack_container_side_wrapper{
	position: absolute;
	bottom: 0;
	width: 100%;
}

#stack_container_side{
	display: flex;
	justify-content: center;
	
}

.stack{
	background-color: #4249F4;
	color: white;
	border: solid;
	border-color: #4249F4;
	border-radius: 2px;
	font-size: .9rem;
}

.stack:not(:last-child){
	margin-right: 1.5%;
}

.projects_wrapper_side .stack{
	font-size: .7rem;
}

#general_container{
	position: relative;
	top: 5%;
	width: 100%;
	height: 77%;
	display: flex;
}

#photo_container{
	position: relative;
	top: 10%;
	margin-left: 2.5%;
	width: 30%;
	height: 80%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}

#description_container{
	position: relative;
	top: 10%;
	margin-left: 1.5%;
	width: 65%;
	height: 80%;
	display: flex;
	align-items: center;
	text-align: left;
}

.links_container{
	position: absolute;
	width: 100%;
	height: 12%;
	bottom: 2%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.project_link{
	margin-right: 2%;
} 

.project_link:hover{
	cursor: pointer;
}

.demo_link{
	text-align: center;
	background: #4249F4;
	padding: 4px;
	color: white;
	border-radius: 4px;
	text-decoration: none;
}

#left_button {
	position: absolute;
	left: 5%;
}

#left_button:hover {
	cursor: pointer
}

#right_button{
	position: absolute;
	right: 5%;
}

#right_button:hover {
	cursor: pointer
}

.contact_wrapper_mobile {
	display: none;
}

@keyframes fadein {
    from {
        opacity:0.5;
    }
    to {
        opacity:1;
    }
}

#contact_form_container{
	position: absolute;
	width: 60vw;
	height: 70vh;
	top: 15%;
	left: 20%;
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

#contact_form_wrapper{
	position: relative;
	width: 95%;
	height: 95%;
	top: 2.5%;
	left: 2.5%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#from_email{
	width: 50%;
}

#subject{
	width: 50%;
}

#body_content{
	width: 100%;
	height: 70%;
}

#contact_submit{
	position: relative;
	width: 10%;
	text-align: center;
	padding: 2px;
	left: 45%;
	border: solid;
	border-color: #4249F4;
	border-radius: 2px;
}

#contact_submit:hover{
	cursor: pointer;
	background: #4249F4;
	color: white;
	
}

#exit_button{
	position: absolute;
	right: 2%;
	top: 1%;
}

#exit_button:hover{
	cursor: pointer;
}

@media only screen and (max-width: 900px) and (min-device-width: 561px){
	
	
	#info_container{ 
		width: 80vw;
		margin-left: 10%;
	}
	

	
}

@media only screen and (max-width: 767px) and (min-device-width: 0px){
	
	.contact_wrapper_mobile {
		display: block;
		width: 40%;
	}
	
	.contact_wrapper {
		display: none;
	}
	
	.logo_mobile {
		width: 80%;
	}
	
	#contact_container {
		width: 25%;
		margin-left: 0;
	}
	
	#general_container { 
		flex-direction: column;
		align-items: center;
	}
	
	#photo_container {
		width: 50%;
		height: 40%;
	}

	#projects_container {
		height: 120%;
	}

	#description_container{
		top: 3%;
	}
	
	.links_container {
		position: relative;
		justify-content: space-around;
		width: 50%;
		left: 25%;
		margin-top: 6%;
	}
	
	project_link{
		margin-right: 0;
	}

}

@media only screen and (max-width: 560px) and (min-device-width: 421px){
	
	#info_container{ 
		width: 80%;
		margin-left: 10%;
	}
	
}

@media only screen and (max-width: 424px) and (min-device-width: 0px){

	#info_container{ 
		width: 80%;
		margin-left: 10%;
	}
	
	
	.contact_text{
		font-size: 0.7rem;
	}

	.name {
		font-size: 1.8rem;
	}
	
	#project_title{
		font-size: 0.8rem;
	}
	
	.links_container {
		margin-top: 20%;
		font-size: 0.7rem;
	}
	
	#projects_container {
			height: 140%;
		}
	
	#description_container{
		top: 6%;
	}
	
	#photo_container {
		height: 20%;
	}
}